<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>message</key>
	<array>
		<string>今日はもう休みたい。働きたくない。</string>
		<string>No more work! I want to play!!</string>
		<string>I don&apos;t want to work...</string>
		<string>今日も一日頑張らないぞい！</string>
		<string>No! We can&apos;t!!</string>
		<string>絶対に働きたくないでござる！！</string>
	</array>
</dict>
</plist>
