<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>message</key>
	<array>
		<string>今日はもう休みたい。働きたくない。</string>
		<string>No more Work! I want to play!!</string>
		<string>I don't want to work...</string>
		<string>今日も一日頑張ばらないぞい！</string>
	</array>
</dict>
</plist>
